<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Digital Motivator</title>
    <link rel="shortcut icon" href="../assets/digitalmotivator-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">   
    <meta name="description" content="{{ description }}">
</head>
<body class="bg-[#222] min-h-screen ">
    <header class="bg-[#222] container mx-auto text-gray-100">
        <nav class=" mx-auto px-4 py-4 flex justify-between items-center">
            <a href="/" class="text-2xl font-display font-extrabold   flex items-center gap-4"><img class="w-12" src="../assets/digitalmotivator-logo.png" alt="digitalmotivator official logo">TheDigitalMotivator</a>
            <ul class="flex space-x-6 items-center">
                <li><a href="/" class="font-bold">ABOUT</a></li>
                <li><a href="/" class="font-bold">ARTICLE</a></li>
                <li><a href="/" class="font-bold">ABOUT</a></li>
                <li><a href="/" class="font-bold">ABOUT</a></li>
              
            </ul>
            <button>Buy me a coffee</button>
        </nav>

    </header>

    <main class="">
        {{ content | safe }}
    </main>

    <footer class="text-gray-500 py-4 bg-[#111]">
        <div class="container mx-auto">
            <p>© {{ page.date.getFullYear() }} Digital Motivator. Spreading positivity and inspiration.</p>
        </div>
    </footer>
</body>
</html>