---
layout: base.njk
title: Shape Your Future
description: Find daily inspiration, wisdom, and positive insights to fuel your journey to success and happiness.
---

<section class="text-gray-100 w-full -mt-[5rem]">
    <div class="bg-[url(../assets/dont-stop.webp)] py-72 bg-cover bg-no-repeat bg-center">
       <div class="container mx-auto">
        <h1 class="text-6xl w-[50%] font-extrabold">IF THE WORLD WON'T STOP, WHY SHOULD YOU?</h1>
        <p class="py-8 text-lg w-[40%]">Daily motivation delivered automatically — crafted to keep you moving forward, growing stronger, and staying focused, even when life gets overwhelming. Let every day be a step closer to your goals.</p>

        <div class="flex gap-8">
            <button class="bg-orange-500 px-8 py-3 text-gray-950">Get Your Daily Boost</button>
            <button class="border px-8 py-3 ">Explore Motivation Feed</button>
        </div>
       </div>
    </div>
</section>

